/********
BASIC STYLES
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
}
.clearfix {
    clear: both;
}
button {
    border: 4px solid white;
    background: transparent;
    font-size: 17px;
    color: white;
    padding: 20px 40px;
    margin: 10px;
    cursor: pointer;
    transition-duration: .3s;
}
button:hover {
    background-color: white;
    color: #333;
}
.container {
    width: 70%;
    margin: 50px auto;
}
/********
HEADER
********/
header {
    background-image: url(img/lorikeet-header.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
header nav {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
header nav h1 {
    float: left;
}
header nav ul {
    float: right;
}
header nav ul li {
    display: inline-block;
    padding-left: 50px;
}
header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
}
header nav h1 a {
    color: white;
    text-decoration: none;
    font-size: 50px;
}
header article {
    padding: 200px 0;
}
header h2 {
    font-size: 80px;
}
header h4 {
    font-size: 25px;
    color: #ddd;
    padding: 10px 0 40px 0;
}
/********
slika
*******/
.slika img {
    width: 100%;
}
/********
tekst
*******/
.tekst {
    text-align: center;
}
.tekst h2, .cta h2 {
    font-size: 45px;
}
.tekst h4 {
    font-size: 25px;
    color: gray;
    padding: 10px 0 30px 0;
}
.tekst p {
    font-size: 20px;
    line-height: 1.5;
}
/******
cta
*******/
.cta {
    background-color: #84a137;
    padding: 50px 0;
    color: white;
    text-align: center;
}
.cta h4 {
    color: white;
}
.cta p {
    padding-bottom: 40px;
    line-height: 1.5;
}
/*****
footer
******/
footer {
    background-color: #435120;
    color: white;
    padding: 50px 0;
    text-align: center;
}